@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

* {
    font-family: 'Katibeh', cursive; 
    text-shadow: 3px 3px 6px #143D43;
    user-select: none;
}

body {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  position: absolute;
  top: 90px;
    max-width: 22%;
    max-height: 42%;
}

hr {
    width: 50%;
    height: 5px;
    border-radius: 25px;
    background-color: white;
}

.title {
    padding-top: 50px;
    font-size: 50px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

.subtitle {
  position: relative;
  top: -30px;
    font-size: 50px;
    font-weight: 300;
    display: flex;
    justify-content: center; 
}

.main {
    background-image: linear-gradient(#143D43, #14A093, #14A093, #14A093, #14A093);
    padding: 40px;
    border-radius: 20% 9%;
    color: white;
    box-shadow: 0 0 50px 10px#143D43;
    width: 100%;
    
}

.onForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 30px;
}

.name {
    transform: scale(2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.nameSpan {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 580;
}

.nameInput {
    transform: scale(1.6);
    border: none;
    border-radius: 3px;
    background-color: white;
    color: #143D43;
    box-shadow: 2px 2px 6px #143D43;
}

.nameInput input:focus,
.nameInput input:valid {
  border-color: none;
}

.phone {
    padding-top: 70px;
    transform: scale(2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.phoneSpan {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 580;
}

.phoneInput {
    transform: scale(1.6);
    border: none;
    border-radius: 3px;
    background-color: white;
    color: #143D43;
    box-shadow: 2px 2px 6px #143D43;
}

.typeOfContribution {
    transform: scale(2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 90px;
}

.typeOfContributionSpan {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 580;
}

.typeOfContributionInput {
    transform: scale(1.6);
    border: none;
    border-radius: 3px;
    background-color: white;
    color: #143D43;
    padding: 2%;
    box-shadow: 2px 2px 6px #143D43;
}

.submit {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit input {
  height: 100%;
  width: 100%;
  outline: none;
  font-weight: 500;
  border: none;
  font-size: 32px;
  border-radius: 15px;
  color: white;
  background-color: #143D43;
  transition: all 0.3s ease 0s; 
  transform: scale(1.4);
}